.vscode/settings.json
practica08/.vscode/c_cpp_properties.json
practica08/.vscode/settings.json
practica08/.vscode/tasks.json
practica08/actividad1.exe
practica06/actividad1y2.exe
practica05/actividad4.exe
practica05/actividad3.exe
practica05/actividad4.exe
practica05/actividad3.exe
practica08/actividad2.exe
